<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GCBANK">
    <parameter name="browser" value="ff"></parameter>
    <test  name="firefoxTest">
        <classes>
            <class name="TestCases.TC_LoginTest_001">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>